<nav class="site-navigation" role="navigation">
	<ul>
		{{#foreach navigation}}
			<li class="nav-{{slug}}{{#if current}} nav-current{{/if}}"><a href="{{url absolute="true"}}" title="{{label}}">{{label}}</a></li>
		{{/foreach}}
	</ul>
</nav>
