<nav class="site-pagination" role="pagination">
	<ul>
		{{#if prev}}
			<li class="prev"><a href="{{pageUrl prev}}" rel="prev">&larr; Newer posts</a></li>
		{{/if}}
		{{#if next}}
			<li class="next"><a href="{{pageUrl next}}" rel="next">Older posts &rarr;</a></li>
		{{/if}}
	</ul>
</nav>
