{{!< default}}

<article id="error-{{code}}" class="{{post_class}}" role="article">
	<div class="error-image">
		<span>&times;</span>
	</div>
	<div class="error-content">
		<h1 class="error-title">SORRY, this page doesn't exist!</h2>
		<p>We looked really hard, but it appears the page you seek doesn't exist anymore.</p>
		<p>You might try starting at the <a href="{{@blog.url}}" title="{{@blog.title}}">homepage</a>.</p>
	</div>
</article>
