{{!< default}}

{{#post}}
	<article id="page-{{id}}" class="{{post_class}}" role="article">
		<div class="page-content">
			<h1 class="page-title">{{title}}</h2>
			{{content}}
		</div>
	</article>
{{/post}}

<div class="share-options">
	<div class="options">
		<button data-action="twitter">Twitter</button>
		<button data-action="facebook">Twitter</button>
		<button data-action="google">Twitter</button>
	</div>
</div>
