<nav class="site-pagination" role="navigation">
	<ul>
		{{#if prev}}
			<li class="prev"><a href="{{page_url prev}}" rel="prev">&larr; Newer posts</a></li>
		{{/if}}
		{{#if next}}
			<li class="next"><a href="{{page_url next}}" rel="next">Older posts &rarr;</a></li>
		{{/if}}
	</ul>
</nav>
