{{!< default}}

{{#post}}
	<article id="page-{{id}}" class="{{post_class}}" role="article">
		<div class="page-content">
			<h1 class="page-title">{{title}}</h2>
			{{content}}
		</div>
	</article>
{{/post}}
