{{!< default}}

<article id="error-{{code}}" class="{{post_class}}" role="article">
	<div class="error-image">
		<span>&times;</span>
	</div>
	<div class="error-content">
		<h1 class="error-title">SORRY, this blog is private!</h2>
		<p>To have a look behind this locked door, enter your password below.</p>
		<form id="setup" class="setup-form private-login" method="post" novalidate="novalidate">
			<input type="hidden" name="forward" value="{{forward}}" />
			<fieldset>
				<label for="password">Password</label>
				<input type="password" name="password" id="password" class="private-login-password" />
			</fieldset>
			<fieldset class="button">
				<button type="submit" class="private-login">Let me in!</button>
			</fieldset>
		</form>
	</div>
</article>
